h1 Blades in The Dark Character Creation 

form
    p Playbook
    input(type="radio" id="cutter" name="playbook" value="Cutter")
    label(for="cutter") Cutter
    input(type="radio" id="hound" name="playbook" value="Hound")
    label(for="hound") Hound

    p Heritage
    input(type="radio" id="akoros" name="playbook" value="Akoros")
    label(for="akoros") Akoros
    input(type="radio" id="the-dagger-isles" name="playbook" value="The Dagger Isles")
    label(for="the-dagger-isles") The Dagger Isles

    input(type="submit" value="Output")
